@import url('https://fonts.googleapis.com/css?family=Lato|Baumans');

html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

#search {
    margin-left:1vw;
    margin-top:1vh;
    padding:5px;
    width:calc(48vw - 10px);
    height:calc(18vh - 10px);
    position:absolute;
    top:0;
    left:0;
    border:0;
    background:#4d4d4f;
    color:#ececec;
    resize:none;
    -moz-resize:none;
    font-family:'Lato';
    font-size:200%;
    border-radius:5px;
}

#search::-moz-placeholder {
    color:#cacaca;
}

#search::placeholder {
    color:#cacaca;
}

#results {
    margin-left:1vw;
    margin-top:1vh;
    width:48vw;
    height:78vh;
    position:absolute;
    top:20vh;
    left:0;
    background:#86BBD8;
    border-radius:5px;
}

#output {
    width:48vw;
    height:48vh;
    position:absolute;
    margin-left:1vw;
    margin-top:1vh;
    top:0;
    left:50vw;
    border-radius:5px;
}

#recordplaypause {
    width:48vw;
    height:8vh;
    position:absolute;
    margin-left:1vw;
    margin-top:1vh;
    top:50vh;
    left:50vw;
    border:0;
    background:#4d4d4f;
    color:#ececec;
    font-family:'Lato';
    font-size:200%;
    border-radius:5px;
}

#save {
    width:48vw;
    height:8vh;
    position:absolute;
    margin-left:1vw;
    margin-top:1vh;
    top:60vh;
    left:50vw;
    border:0;
    background:#4d4d4f;
    color:#ececec;
    font-family:'Lato';
    font-size:200%;
    border-radius:5px;
}

#results ul {
    list-style-type:none;
    width:100%;
    height:100%;
    float:left;
    padding-left:0;
}

#results ul li {
    float:left;
    margin:5px;
    width:calc(100% - 30px);
    height:calc(10% - 10px);
    font-family:'Lato';
    font-size:150%;
    line-height:calc(7.8vh - 10px);
    padding-left:20px;
    background:#ececec;
}

#status {
    width:48vw;
    height:8vh;
    position:absolute;
    top:70vh;
    left:50vw;
    margin-left:1vw;
    margin-top:1vh;
    background:#86BBD8;
    border-radius:5px;
}

#status-inner {
    width:calc(100% - 30px);
    height:calc(100% - 10px);
    margin:5px;
    padding-left:20px;
    background:#ececec;
    font-family:'Lato';
    font-size:150%;
    line-height:calc(8vh - 10px);
    font-weight:normal;
}